################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.opendb

3D_Project/Debug/
3D_Project/3D_Project/Debug/
*.db

*.ipch
